
# 忽略所有大文件和大文件夹
*.xlsx
*.doc
*.docx
*.pdf
*.zip
*.rar
*.unitypackage
*.fbx
*.obj
*.mp3
*.wav
*.mp4
*.mov
*.psd
*.tga

# 忽略Unity资源文件夹
Assets/ArtRes/
Assets/StreamingAssets/
Assets/AssetBundles/

# 忽略Unity自动生成文件夹
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
.vs/
.idea/

